*, *::after, *::before { box-sizing: border-box; }

:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
    list-style: none; /*Remove marcadores da lista ul */
}

html { font-size: 16px; }

/* Fontes que tem espaço deverão estar entre "" */
body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);
}

img { max-width: 100%;}

a { text-decoration: none;}

/* h1 */
.titulo {
    font-family: Raleway, sans-serif;

    /* transformar a letra em maiusculo */
    text-transform: uppercase;

    /* Nível de negrito, algumas fontes dão essa opção no google fonts */
    font-weight: 800;
    font-size: 1.5rem;

    a {
        background-color: var(--cor-escura);
        color: var(--cor-clara);
        padding: 0.3rem 1rem;
        border-radius: 4px;
    }
}

/* header */
.topo {
    /* Para que o topo fique sempre por cima de qualquer elemento */
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);

    .limitador {
        height: 12vh; 
        display: flex;
        justify-content: space-between;
        align-items: center;     
    }
    
}

/* classe .limitador de uso geral: Sempre terá largura de 95vw e margin auto, não importando onde será aplicada. */
.limitador {
    width: 95vw;
    margin: auto;
    
}

/* h2 */
.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

.menu a:hover, .menu a:focus {
    background-color: var(--cor-intermediaria);
}

.links-menu {
    display: none;

    a {
        color: var(--cor-escura);
        font-weight: bold;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.links-menu.aberto {

    /* Ativamos o flex para anular o display:none (fazendo os links aparecerem) e ao mesmo tempo ter os recursos do flex. */
    display: flex;

    /* Mudamos a direção para coluna para voltar a exibir um link em cima do outro. */
    flex-direction: column;

    /* Usamos o position e coordenadas para ajustara posição e o tamanho que os links ocuparam na tela logo abaixo da palavra Menu. */
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

.destaque {
    height: 88vh;
    background-image: url(imagens/fundo-destaque.jpg);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2, p {
        text-align: center;
        color: var(--cor-clara);
        animation-name: animaDestaque;
        animation-duration: 5s;
    }

    h2 {font-size: clamp(3rem, 10vw, 7rem);}

    p {
        font-size: clamp(1.5rem, 3vw, 3rem);
        animation-delay: 2s;
        /* Especificar que a animação deve aplicar seus estilos ao elemento antes que a animação comece. O elemento assume o primeiro Kayframe(from), */
        animation-fill-mode: backwards;
    }
}

/* Sobre função clamp() 
Função útil para redimensionamento responsivo de acordo com critérios de tamanhos minimo, ideal?variavel/responsivo e máximo. Uso mais comum é para textos responsivos, mas pode ser usado com qualquer propriedade que envolva tamanhos (width, heigth etc)

clamp(
    tamanho minimo,
    tamanho ideal/variavel/responsivo,
    tamanho maximo
    )
*/

@keyframes animaDestaque {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

article {
    h2 {
    padding: 1rem;
    font-size: 1.4rem;
    font-family: Raleway, sans-serif;
    color: var(--cor-titulo);
    }

    p {
        padding: .5rem 0;
        font-size: 1.2rem;
    }

    address {
        font-style: normal;
        font-size: 1.2rem;
    }
}

.front-end, .historia, .localizacao {
    text-align: center;
}

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;

    h2 {
        color: var(--cor-clara);
        text-shadow: 3px 3px rgb(0, 0, 0);
    }

    iframe {
        width: 100%;
        max-width: 700px;
        margin-bottom: 2rem;
    }
}

.localizacao {
    iframe {
        width: 100%;
        margin-top: 2rem;
    }
}

footer {
    background-color: #000;
    color: var(--cor-clara);
    height: 30vh;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Regras para as páginas internas (produtos, serviços e contatos) */

.conteudo-interno {
    background-color: var(--cor-intermediaria);
    padding: .5rem;
    border-radius: 8px;

    h2 {
        padding-left: 0;
        font-size: 1.8rem;
    }
}

table {
    border: #000 solid;
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: .3rem;
}

th, td {border: var(--cor-escura) solid 1px;}

th {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: .5rem;
}

td {padding: .4rem;}

td:nth-child(2) {text-align: center;}

td:last-child, th:last-child {text-align: right;}

tr:nth-child(even) {background-color: var(--cor-clara) ;}
 
/* (odd) par 
(even) ímpar */

.galeria {
    text-align: center;
    
    img {
        border-radius: 50%;
        transform: scale(.8) rotate(-10deg);
        box-shadow: var(--cor-escura) 0 0 30px;
        transition: .5s;

        /* &:hover {} */
    }
}

.galeria img:hover {
    transform: scale(1) rotate(0);
}

/* Regras para o formulário de contato */
form {
    max-width: 500px;
    margin: auto;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--cor-texto);
}

form div { margin-bottom: 1rem; }

input, select, textarea {
    width: 100%;
    border: none;
    padding: 6px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--cor-clara);
}

textarea { height: auto; }

button {
    border: none;
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
}

button:hover, button:focus {
    background-color: darkblue;
    cursor: pointer;
    transform: scale(1.05);
}

#area-do-cep {
    display: flex;
    justify-content: space-between;
}

#cep { width: 50%; }

#buscar { 
    width: 49%;
    padding: 12px;
}

.campos-restantes { display: none; }

@media screen and (min-width: 600px) {
    .titulo-menu {display: none;}

    .links-menu {
        display: flex;
        li {width: 100%;}
    }

    .menu {width: 60%;}
}

@media screen and (min-width:1000px) {
    html {font-size: 18px;}

    .limitador {max-width: 1000px;}
}